<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/navigation'%>
      <div class="container">
        <%= render 'layouts/messages' %>
    <!-- <div class="alert alert-secondary"> <p class="notice"><%=notice%></p></div>
      <div class="alert alert-danger"><p class="alert"><%=alert%></p></div>-->

       <%= yield %>
  </body>
</html>
